# Ignorar cache, sessões e logs
/Local/
/Log/
/Backup/
/Trash/

# Ignorar libs internas de runtime Python
/Lib/

# Ignorar histórico de execução de pacotes
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle

# Ignorar arquivos do Package Control (exceto settings)
/User/Package Control.user-ca-bundle

# Ignorar arquivos de projetos e sessões temporárias
*.sublime-project
*.sublime-workspace
*.sublime_session
*.backup

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
